#shippo_sender_info,
#shippo_receiver_info,
#shippo_package_details {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

#shippo_sender_info label,
#shippo_receiver_info label,
#shippo_package_details label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#shippo_sender_info input,
#shippo_receiver_info input,
#shippo_package_details input {
    width: calc(100% - 20px);
    padding: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#shippo_package_details label[for="shippo_package_weight"],
#shippo_package_details label[for="shippo_status"] {
    color: #0073aa;
}

#publishing-action input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 1px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#publishing-action input[type="submit"]:hover {
    background-color: #45a049;
}

